{% extends "base.html" %}

{% load humanize %}

{% block title %} List Forum{% endblock %}

{% block content %}
{% if messages %}
<div class="card bg-danger text-white">
	{% for message in messages %}
		<div class="card-body">Forum Berhasil Dibuat!</div>
	{% endfor %}
</div>
{% endif %}
<div class="jumbotron">
  <h1>Forums</h1> <a class="btn btn-success btn-sm" href="{% url 'forums-path:forum-add'%}" role="button">Buat Forum Diskusi</a>
 	<ul>
 		{% for forum in object_list %}
 			<li><a href="{% url 'forums-path:forum-detail' forum.slug %}"><b>{{forum.title}}</b></a> <br> Oleh: <a href="{% url 'forums-path:forum-by' forum.user %}">{{forum.user}}</a> | <span style="font-size: 12px;"><i>{{forum.created_at | naturaltime}}</i></span></li><br>
 		{% endfor %}
 	</ul>
 	{% include 'snippets/pagination.html' %}
</div>
{% endblock%}